a,
a:visited,
a:link {
	text-decoration: none;
}

a:not(.btn-link):visited,
a:not(.btn-link):link {
	color: inherit;
}

.btn-link {
	position: relative;
	padding: 1rem 1.6rem;
	border: none;
	border-radius: 16px;
	background-image: linear-gradient(to right, var(--blue), var(--light-blue));
	font-size: 1rem;
	color: aliceblue;
	transition: transform 0.2s linear 0s;
	cursor: pointer;
}

.btn-link::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	scale: 0.95;
	border-radius: 16px;
	z-index: -5;
	background-image: linear-gradient(to right, #59a5d8, #84d2f6);
	filter: blur(16px);
	opacity: 0.5;
	transition: opacity 0.2s linear 0s;
}

.btn-link:hover::before {
	opacity: 0.8;
}

.btn-link:active {
	transform: scale(0.95);
}

.btn-link:active::before {
	opacity: 0.5;
}
